@media screen and (max-width:1024px){
    #header > .header__inner .inner__left .nav li a{
        padding: 14px 30px 12px;
    }
}


@media screen and (max-width:998px){
    .pc{display: none;}
    .mo{display: block;}
    #header > .header__inner .inner__left{
        flex-grow: unset;
        gap: unset;
        padding: unset;
        width: 100px;
        height: 50px;
    }
    section.main .main__visual .visual__footer .footer__sub{
        justify-content: center;
    }
    .sub__left, .sub__right{
        display: none;
    }
    #header > .header__inner .inner__left .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    #header > .header__inner .inner__left .logo a{
        width: 70px;
    }
    #header > .header__inner .inner__left .nav{
        display: none;
    }
    #header > .header__inner .inner__ring{
        right: 54%;
    }
    #header > .header__inner .inner__right{
        flex-grow: unset;
        width: 200px;
        height: 50px;
    }
    #header > .header__inner .inner__right a{
        padding: 14px 10px 12px;
    }
    #header > .header__inner .inner__right .header__menu{
        right: 10px;
    }
    section.main .main__visual .visual__footer .footer__title{
        font-size: 50px;
        line-height: 1;
        padding-bottom: 10px;
    }
    section.main .main__visual .visual__footer .footer__sub .sub__title br{
        display: none;
    }
    section.sequences .sequences__cont .reserve__box{
        display: none;
    }
    section.sequences .sequences__cont .sequences__box .sequences__title{
        left: 50%;
        top: unset;
        bottom: 20px;
        transform: translateX(-50%);
        text-align: center;
        align-items: center;
    }
    section.sequences .sequences__cont .sequences__box .sequences__title.second{
        top: unset;
        bottom: 30px;
    }
    section.sequences .sequences__cont .sequences__box .sequences__title h1{
        font-size: 60px;
        font-weight: 500;
    }
    section.sequences .sequences__cont .sequences__box .sequences__title.second h1,
    section.sequences .sequences__cont .sequences__box .sequences__title.first h1{
        width: 320px;
    }
    section.sequences .sequences__cont .sequences__box .sequences__title p{
        width: 320px;
        font-size: 15px;
    }
    section.sequences .sequences__cont .sequences__box .sequences__title p br{
        display: none;
    }
    section.sequences .sequences__cont .sequences__box .sequences__title .sequences__link a{
        padding: 11px 21px 11px;
        font-size: 15px;
    }
    section.icon{
        padding-top: 300px;
    }
    .icon__cont{
    }
    section.icon .icon__cont .icon__description{
    }
    section.icon .icon__cont .icon__description .history br{
        display: none;
    }
    section.icon .icon__cont svg{
        transform: unset;
    }
    section.icon .icon__cont .icon__title{
        top: 150px;
    }
    section.icon .icon__cont .icon__pic{
        
    }
    section.camp .camp__inner .camp__title{
        margin-bottom: clamp(3.5rem, 3.07rem + 2.14vw, 5rem);
    }
    section.camp .camp__inner .camp__title::before{
        top: 3%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    section.camp .camp__inner .camp__video{
        margin-top: 30vw;
    }
    section.camp .camp__inner .camp__title::after{
        top: unset;
        right: unset;
        left: 50%;
        bottom: -10%;
        transform: translate(-50%, -50%);
    }
    section.camp .camp__inner .camp__description{
        top: unset;
        bottom: 21%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: unset;
    }
    section.camp .camp__inner img.camp__img3{
        display: none;
    }

    footer .footer__inner .inner__top{
        flex-direction: column;
        gap: 50px;
    }
    footer .footer__inner .inner__bottom{
        flex-direction: column;
    }
    footer .footer__inner .vehicle{
        max-width: 100%;
    }
    footer .footer__inner .subscribe{
        padding: 60px 0;
        max-width: 100%;
    }
    footer .footer__inner .sns{
        right: unset;
        left: 0;
    }
}
@media screen and (min-width:999px){
    .pc{display: block;}
    .mo{display: none;}
}
@media screen and (max-width:699px){
    section.dust__cont .duo__cont .vehicle__img{
        flex-direction: column;
    }
    section.dust__cont{
        padding-bottom: 125%;
    }
    section.haul .top__cont .haul__description{
        flex-direction: column;
        gap: 50px;
    }
    section.haul .top__cont .haul__description p br{
        display: none;
    }
    section.haul .top__cont{
        padding-bottom: 0;
    }
    footer{
        margin-top: -100vh;
    }
    footer .footer__bg{
        background-size: 100% 2000px;
        height: 1500px;
    }
    footer .footer__bg .footer__menu{
        flex-direction: column-reverse;
        gap: 30px;
    }
    footer .footer__bg .footer__menu ul{
        flex-direction: column;
        align-items: flex-start;
        font-size: 14px;
    }
    section.dust__cont .dust__bg .title__area{
        flex-direction: column;
        gap: 20px;
    }
    section.dust__cont .dust__bg .title__area h2,
    section.dust__cont .dust__bg .title__area .dust__description{
        width: 100%;
    }
}

